<div class="login-form-container border p-5">
{{#if messages.falseEntry}}
  <div class='alert alert-warning text-center  mt-3 mb-3' role='alert'>
    <h4 class="font-weight-bolder m-0">{{messages.errorMessage}}</h4>
  </div>
{{/if}}


  <form id='signup' action='/login' method='POST'>
  <img height="35px" src="/images/shopifyLogo.svg" alt="logo">
    <h1 class="text-center py-2">Log In</h1>
    <p>Continue to your store</p>
    <label for='E-mail'><b> E-Mail</b> </label>
    <input type='text' name='email' placeholder="Enter your email" required />
    <label for='psswrd'><b>Password </b></label>
    <input type='password' name='password' placeholder="Enter your password" required />
    <button class='btn btn-primary my-4' type='submit'> Next </button>
     <a href='/register' class='btn text-success' type='submit'> Start Free Trial! </a>
  </form>

  </div>